{% extends 'layout.html' %}
{% block title %}
    <title>ALL TIMELINE</title>
{% endblock %}
{% block body %}
    <!-- Top bar -->
    <div class='row bg-light text-white p-2'>
        <div class="col-4">
            <img src="../static/images/SKI_bar2.png" height='60' class='ml-2' >
        </div>
        <div class="col-6 align-middle">
            <form action="/searchresult" method="POST" >
                <input type="text" name=tag placeholder="Search Problem and Idea" class="form-control w-50  mx-auto mt-3">
            </form>
        </div>
        <div class="float-right text-right mt-2 col-2">
            <a href="/myaccount/{{user.id}}">
                <i class="fas fa-house-user m-2 text-secondary" style='font-size:30px'></i>
            </a>
            <a href="/logout">
                <i class="fas fa-sign-out-alt m-2 text-secondary" style='font-size:30px'></i>
            </a>
        </div>
    </div>
    <!-- Left menu bar -->
    <div class="row" style='height: 100vh;'>
        <div class='card col-2 bg-secondary rounded-0'>
            <div class="row">
                <img src="../static/images/{{user.avator}}" alt="" class='rounded-circle mx-auto d-block mt-3' height=70 width="70">
            </div>
            <div class="row text-center">
                <a href="/editProf" class='text-white col-12'>
                    <strong style='font-size:25px' class=''>
                        {{signin.uname|upper}}<br>
                    </strong>
                </a>
                <a href="/check_p" class='btn text-white col-12 mt-3'>Problem</a><br>
                <a href="/check_i" class='btn text-white col-12'>Idea</a><br>
                <a href="/check_c" class='btn text-white col-12'>Comment</a><br>
                <a href="/check_u" class='btn text-white col-12'>User</a><br>
            </div>
        </div>
        <!-- main screen -->
        <div class='col-10 bg-light'>
            <div class='card mx-auto'>
                <div class='row'>
                    <img src="../static/images/{{ui.avator}}" alt="" height=200 width="200" class='mt-4 rounded-circle btn mx-auto'><br>
                </div>
                <h1 class="text-center">{{ui.uname|upper}}</h1>
                <h1 class="text-center">Major: {{ui.major}}</h1>
                <table class="table table-striped w-50 mx-auto mt-5" style="table-layout: fixed;">
                    <tr>
                        <th style="width: 200px;">ID</th>
                        <th >COMMENT</th>
                    </tr>
                    {% for p in ci %}
                        <tr>
                            <td class="align-middle" style="word-wrap: break-word; font-size: 16px;"><a href='/submitidea/{{p.id}}'>#{{p.id}}</a></td>
                            <td class="align-middle mx-auto" style="word-wrap: break-word; font-size: 16px;">
                                {{p.comment}}<br>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
