{% extends 'layout.html' %}
{% block title %}
    <title>SEARCH RESULTS</title>
{% endblock %}
{% block body %}
    <!-- Top bar -->
    <div class='row bg-light text-white p-2'>
        <div class="col-4">
            <img src="../static/images/SKI_bar2.png" height='60' class='ml-2' >
        </div>
        <div class="col-6 align-middle">
            <form action="/searchresult" method="POST" >
                <input type="text" name=tag placeholder="#Search Problem and Idea" class="form-control w-50  mx-auto mt-3">
            </form>
        </div>
        <div class="float-right text-right mt-2 col-2">
            <a href="/myaccount/{{user.id}}">
                <i class="fas fa-house-user m-2 text-secondary" style='font-size:30px'></i>
            </a>
            <a href="/logout">
                <i class="fas fa-sign-out-alt m-2 text-secondary" style='font-size:30px'></i>
            </a>
        </div>
    </div>
    <!-- Left menu bar -->
    <div class="row" style='height: 100vh;'>
        <div class='card col-2 bg-secondary rounded-0'>
            <div class="row">
                <img src="../static/images/{{user.avator}}" alt="" class='rounded-circle mx-auto d-block mt-3' height=70 width="70">
            </div>
            <div class="row text-center">
                <a href="/editProf" class='text-white col-12'>
                    <strong style='font-size:25px' class=''>
                        {{signin.uname|upper}}<br>
                    </strong>
                </a>
                <a href="/timeline" class='btn text-white col-12 mt-3'>Timeline</a><br>
                <a href="/submission" class='btn text-white col-12'>Submit Problem</a><br>
                <a href="/ski" class='btn text-white col-12'>About SKI</a><br>
            </div>
        </div>
        <!-- main screen -->
        <div class='col-10'>
            <div class='row m-3'>
                <img src="../static/images/SKI_logo.jpg" alt="" class='mx-auto'>
            </div>
            <div >
                <strong style='font-size:70px'class="mt-5">What is SKI?</strong> <br>
                <strong style="font-size: 40px"class="text-secondary">You can gain knowledge that you can trust.</strong><br>
                <strong style="font-size: 40px"class="text-secondary">SKI has all the professional people in the world to answer your questions.</strong><br>
                <strong style="font-size: 40px"class='text-secondary'>At the same time, you would be a professor to someone else.</strong> <br>
                <strong style="font-size: 40px"class="text-secondary"> </strong><br>
                <strong style='font-size: 70px'class="mt-5">How does SKI work?</strong> <br>
                <strong style="font-size: 40px"class='text-secondary'>It is constructed by Problem, Idea and Comment.</strong><br>
                <strong style="font-size: 40px"class='text-secondary'>And you can get to know who is answering it and what kind of expert.</strong><br>
                <strong style="font-size: 40px"class="text-secondary"> </strong><br>
                <strong style='font-size: 70px'class="mt-5">Why SKI?</strong> <br>
                <strong style="font-size: 40px"class="text-secondary">"SKI" = Share Knowledge Innovator</strong><br>
                <strong style="font-size: 40px"class='text-secondary mb-5'>Let`s share your knowledge.</strong><br>
                <strong style="font-size: 40px"class="text-secondary"> </strong><br>
            </div>
        </div>
    </div>
{% endblock %}
