.header{
    background-image: url('../images/bg_GSCI.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
}